
@font-face {
	font-family: "SegoeUI";
	font-style: normal;
	font-weight: bold;
	src: url("../fonts/SegoeUIBold.eot");
	src: url("../fonts/SegoeUIBold.eot?#iefix")format("embedded-opentype"),
	url("../fonts/SegoeUIBold.ttf") format("truetype"),
	url("../fonts/SegoeUIBold.woff") format("woff");
}
@font-face {
	font-family: "SegoeUI";
	font-style: normal;
	font-weight: thin;
	src: url("../fonts/SegoeUILight.eot");
	src: url("../fonts/SegoeUILight.eot?#iefix")format("embedded-opentype"),
	url("../fonts/SegoeUILight.ttf") format("truetype"),
	url("../fonts/SegoeUILight.woff") format("woff");
}


/*--------
fonts end
--------*/


*, *:after, *:before {box-sizing: border-box;}
html,body {height: 100%;}
body {
	color: #404040;
	font: 16px "SegoeUI",Arial,Tahoma,Verdana, sans-serif;
	font-weight: 300;
}

.wrapper {
	width: 1070px;
	margin: 0 auto;
	padding: 190px 0 50px 185px;
}


h1 {
	font-size: 1.345em;
	font-weight: 700;
	margin: 0;
}
h2 {
	font-size: 1em;
	margin: 0;
	color: #ff6f65;
}
h3 {
	font-size: 1em;
	color: #ff6f65;
	margin: 0;
}
p {
	margin: 0;
}

.info {
	padding: 50px 0 0 190px;
}
.info-item {
	margin-top: 50px;
}

/* contacts */

.contacts a {
	color: #0FA3B1;
}
.contacts a:hover {
	color: #056A73;
	text-decoration: none;
}

/* contacts end */


/* expirience */

.exp-item {
	margin-bottom: 12px;
}
.exp-item .who {
	font-weight: 700;
}
.exp-item .where:after {
	content: "|";
	margin: 0 8px;
}
.exp-item .when {
	text-transform: uppercase;
	font-size: 0.857em;
}
/* expirience end */

